.wrapperCodeBar {
    background: #1675bf;
    padding: 30px;
    color: #fff;
    border-radius: 10px;
    max-width: 300px;
    font-family: Charlevoix Pro,sans-serif;
    text-align: center;
    
}

.wrapperCodeBar a {
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    text-align: center;
}