@import url("https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css");

.blogSection {
    padding: 0 30px 30px;
}
.blogSectionTitle {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.blogSectionTitle::before {
    content: "\f125";
    font-size: 44px;
    font-family: Flaticon;
    margin-right: 12px;
}
.blogSectionTitle span {
    margin: 0;
    color: #000;
    display: flex;
    font-size: 32px;
    align-items: center;
    font-weight: 300;
}
.blogCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blogCard {
    width: 100%;
    height: auto;
    max-height: 350px;
    display: flex;
    overflow: hidden;
    align-items: stretch;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 5px;
}
.blogCardImage {
    width: 40%;
    display: block;
    overflow: hidden;
    line-height: 0;
}
.blogCardImage img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}
.blogCardInfo {
    width: 60%;
    padding: 30px 15px;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blogCardInfoTitle {
    color: #1675bf;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}
.blogCardInfo .blogCardInfoPreview p{
    color: #1675bf;
    font-size: 16px;
    max-width: 650px;  
    line-height: 2;
    font-family: "Lato";
} 
.blogCardInfoPreview p {
    margin: 20px 0;
}
.blogCardInfo a {    
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background: #1675bf;
    border-radius: 5px;
    width: 260px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
@media(max-width: 767px) {
    .blogCardInfo a {
        width: 100%;
    }
}
.blogCardInfo a::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    transition: all .3s ease;
    background: url("data:image/svg+xml,%3Csvg fill='%23fff' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 447.243 447.243' style='enable-background:new 0 0 447.243 447.243;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M437.883,201.174c-0.008-0.008-0.017-0.017-0.025-0.025l-160-160c-12.552-12.441-32.813-12.351-45.254,0.201 c-0.983,0.992-1.9,2.047-2.746,3.159c-8.971,13.381-7.013,31.276,4.64,42.4l88.32,88.64c4.695,4.7,10.093,8.641,16,11.68 l9.76,5.12h-314.4c-16.099-0.677-30.349,10.332-33.76,26.08c-2.829,17.445,9.019,33.881,26.465,36.71 c1.83,0.297,3.682,0.434,5.535,0.41h315.52l-6.88,3.2c-6.713,3.135-12.83,7.412-18.08,12.64l-88.48,88.48 c-11.653,11.124-13.611,29.019-4.64,42.4c10.441,14.259,30.464,17.355,44.724,6.914c1.152-0.844,2.247-1.764,3.276-2.754l160-160 C450.361,233.939,450.372,213.678,437.883,201.174z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
}

.blogCardInfo a:hover::after {
    /* transform: translateX(10px) ; */
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
}

@-webkit-keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	60% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}
@-moz-keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-5px);
	}
	60% {
		transform: translateX(-5px);
	}
}
@keyframes bounceRight {
	0%,
	20%,
	50%,
	80%,
	100% {
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-ms-transform: translateX(-5px);
		transform: translateX(-5px);
	}
	60% {
		-ms-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}

.blogCardInfo > p {
    font-size: 24px;
    text-transform: uppercase;
    color: #1675bf;
    margin: 0;
}

.blogCardInfo strong p {
    margin-top: 0;
    font-size: 40px;
    color: #1675bf;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .blogCardInfo strong p {
        font-size: 32px;
    }
}
.blogCardInfo strong p {
    margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .blogCardInfo {
        margin: 0;
    }
    .blogSection {
        padding: 15px;
    }
}
@media (max-width: 767px) {
    .blogSection {
        padding: 15px 15px 10px;
    }
    .blogSectionTitle::before {
        font-size: 38px;
    }
    .blogSectionTitle {
        margin-bottom: 20px;
    }
    .blogSectionTitle span {
        font-size: 24px;
    }
    .blogCards {
        flex-direction: column;
    }
    .blogCard {
        width: 100%;
        max-height: unset;
        height: auto;
        flex-direction: column;
    }
    .blogCard:first-child {
        margin-bottom: 15px;
    }
    .blogCardImage {
        width: 100%;
        height: 200px;
    }
    .blogCardInfo {
        width: 100%;
        padding: 15px;
        margin: 0;
    }
}

