.contactForm .inputDefault {
    border: 0;
    outline: 0;
    width: 100%;
    height: 34px;
    color: #1675bf;
    padding: 15px 10px;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 10px;
    font-weight: lighter;
    border-bottom: 1px solid #dedede;
    background-color: transparent;
}

.contactForm .textAreaDefault {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100px;
    color: #1675bf;
    padding: 15px;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 10px;
    font-weight: lighter;
    border-bottom: 1px solid #dedede;
    background-color: transparent;
}
@media (max-width: 768px) {
    .contactForm  {
        border: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
    .contactForm .inputDefault,
    .contactForm .textAreaDefault {
        width: 100% !important;
    }
}

.contactForm .buttonEnv {
    border: 0;
    margin: 0;
    padding: 0;
    width: 119px;
    color: #fff;
    font-size: 16px;
    line-height: 37px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 40px;
    height: 40px;
    border: 2px solid #1675bf;
    overflow: visible;
    position: relative;
    background-color: #1675bf;
    transition: all .3s linear;
    cursor: pointer;
    font-family: "Charlevoix Pro", sans-serif;
}
.contactForm .buttonEnv:hover {
    color: #1675bf;
    background-color: #fff;
}

.contactForm .inputGroupFile label {
    display: block;
}
.contactForm .inputGroupFile input {
    display: block;
    margin-bottom: 10px;
}
.contactForm .inputGroup input,
.contactForm .inputGroup textarea {
    font-family: "Charlevoix Pro", sans-serif;
}
@media (max-width: 768px) {
    .inputGroup {
        width: 100% !important;
    }
}

.contactForm label {
    margin-top: 5px;
    font-size: 14px;
    display: block;
    height: 15px;
    margin-bottom: 5px;
}

.contactForm .formResponse {
    top: 50%;
    left: 50%;
    padding: 15px;
    z-index: 2;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #00a6dd;
}
.contactForm .formResponseWrap {
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactForm .formResponseClose {
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: block;
    position: absolute;
}
.contactForm .formResponseClose::before {
    width: 15px;
    height: 15px;
    content: "";
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://goldko.vtexassets.com/arquivos/letter-x.png");
}
.contactForm .formResponseContent {
    color: #fff;
    
}
@media(max-width: 767px) {
    .contactForm .formResponseContent{
        text-align: center;
    }
}
.contactForm .formOverlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    background-color: #ffffff63;
}
@media (max-width: 767px) {
    .contactForm .formResponse {
        width: 80%;
        padding: 30px;
    }
    .contactForm .formResponseWrap {
        width: 100%;
    }
}

.sendButton {
    border: 0;
    margin: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    background-color: #f46110;
    transition: all .3s linear;
    cursor: pointer;
    font-family: "Charlevoix Pro", sans-serif;
    margin-top: 30px;
    padding: 10px 15px;
    white-space: normal;
    line-height: 1.2rem;
}

.nascimento {
    padding: 0 10px !important;
}