.formDefault .mySubmitHandler {
    background-color: white;
}
.formDefault {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.formDefault .block1 {
    width: 100%;
}
.formDefault .inputGroup {
    width: 100%;
    min-height: 30px;
    border-radius: 0;
    margin-bottom: 10px;
}
.formDefault .inputGroup {
    border-color: #2c343e;
}
.formDefault input,
.formDefault textarea,
.formDefault select {
    border: 0;
    border-bottom: 1px solid #dedede;
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: 0;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 0px;
}
.formDefault > div {
    margin-right: 0;
    margin-bottom: 15px;
}
.formDefault .w50 {
    width: calc(50% - 15px);
}
@media (max-width: 767px) {
    .formDefault .w50 {
        width: 100%;
    }
}
.formDefault .w100 {
    width: 100%;
}
.formDefault > div label {
    font-size: .875rem;
}
/*.formDefault > div {

}*/
/*.formDefault input:focus,
.formDefault textarea:focus {
    border-color: #2c343e;
}*/
.formDefault select {
    width: 100%;
    border: 0;
    height: 37px;
    padding: 10px;
    font-size: 14px;
    border-radius: 0px;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
}
.formDefault select:focus {
    border-color: #2c343e;
}
.formDefault input::placeholder,
.formDefault textarea::placeholder,
.formDefault select {
    color: #999;
    font-size: 14px;
    font-family: "Charlevoix Pro", sans-serif;
}
.formDefault textarea {
    height: 100px;
}
@media (max-width: 1024px) {
    .formDefault {
        flex-direction: column;
    }
    .formDefault .block1, .block2 {
        width: 100%;
    }
}
.buttonEnv {
    border: 0;
    margin: 0;
    padding: 0;
    width: 119px;
    color: #fff;
    font-size: 16px;
    line-height: 37px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 40px;
    height: 40px;
    border: 2px solid #1675bf;
    overflow: visible;
    position: relative;
    background-color: #1675bf;
    transition: all .3s linear;
    cursor: pointer;
    font-family: "Charlevoix Pro", sans-serif;
    margin-top: 20px;
}

.formDefault .modalOpen {
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: 1483D59;
    display: flex;
    padding: 30px;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgb(0 0 0 / 25%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
}
@media (max-width: 767px) {
    .formDefault .modalOpen {
        width: 90%;
    }
}
.formDefault .modalOpen p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}
.formDefault .modalClose {
    display: none;
}
.formDefault .modalOpen h3 {
    text-align: center;
    margin-top: 0;
    text-transform: uppercase;
}
.formDefault .modalOpen .select {
    border: 1px solid #dedede;
    padding: 10px 0;
    background-size: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2483D59/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 213.333 213.333' style='enable-background:new 0 0 213.333 213.333;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon points='0,53.333 106.667,160 213.333,53.333 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.formDefault .modalOpen .select select {
    width: 100%;
    border: 0;
    appearance: none;
    padding-left: 15px;
    background-color: transparent;
}

.formDefault .modalOverlayOpen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
    position: fixed;
    background-color: rgba(0,0,0,.5);
}
.formDefault .modalOverlayClose {
    display: none;
}

.formDefault .modalButtonClose::before {
    top: 15px;
    width: 15px;
    right: 15px;
    cursor: pointer;
    height: 15px;
    content: "";
    position: absolute;
    background-size: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2483D59/svg' height='329pt' viewBox='0 0 329.26933 329' width='329pt'%3E%3Cpath d='m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0'/%3E%3C/svg%3E");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}
.formDefault input,
.formDefault select {
    color: #1675bf !important;
}