.listBuyComponent {
    width: 100%;
}

.listBuyComponent .optionsContainer {
  display: flex;
  justify-content: space-between;
}

.listBuyComponent .optionsContainer .optionItem {
    font-family: 'Charlevoix Pro', sans-serif;
    width: 48.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listBuyComponent .optionsContainer .optionItem a {
    text-decoration: none;
}

.listBuyComponent .optionsContainer .optionItem .optionTitle {
  font-size: 16px;
  line-height: 19px;
  color: #1675BF;
  text-align: center;
  margin: 0 !important;
  padding-bottom: 11px;
}

.listBuyComponent .optionsContainer .optionItem .optionTitle.optionTitleKit {
    color: #16BF27;
}

.listBuyComponent .optionsContainer .optionItem .priceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listBuyComponent .optionsContainer .optionItem .priceContainer .oldPrice {
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 19px;
  text-decoration-line: line-through;
  color: #1675BF;
}

.listBuyComponent .optionsContainer .optionItem .priceContainer .currentPrice {
  color: #1675bf;
  font-size: 18px;
  font-weight: 600;
  margin: 0 !important;
  margin-bottom: 4px;
}

.listBuyComponent .optionsContainer .optionItem .buyButtonCustom {
  padding: 0 8px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f46110;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .addToCartButton {
  font-family: 'Charlevoix Pro', sans-serif;  
  font-size: 13px;
  font-weight: 600;
  color: #FFF;
  border: none;
  background: transparent;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 0 !important;
  cursor: pointer;
  height: 100%;
}

.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
  font-family: 'Charlevoix Pro', sans-serif;  
  display: block;
  width: 30px;
  color: #fff;
  border: 0;
  height: 50px;
  font-size: 16px;
  background-color: transparent;
  text-align: center;
  appearance: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  padding: 0;
}

.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput::-webkit-outer-spin-button,
.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  border-radius: 0;
  -moz-appearance: none;
  -moz-border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperMinus,
.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperPlus {
  background: transparent;
  border: none;
  height: 30px;
  position: relative;
  cursor: pointer;
  border-radius: 0;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  -moz-border-radius: 0;
}

.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperMinus::before,
.listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperPlus::before {
    position: absolute;
    width: 8px;
    height: 8px;
    -webkit-filter: invert(1);
    filter: invert(1);
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

  .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperMinus::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='451.847px' height='451.847px' viewBox='0 0 451.847 451.847' style='enable-background:new 0 0 451.847 451.847;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751 c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0 c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  }

  .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperPlus::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='451.847px' height='451.846px' viewBox='0 0 451.847 451.846' style='enable-background:new 0 0 451.847 451.846;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M248.292,106.406l194.281,194.29c12.365,12.359,12.365,32.391,0,44.744c-12.354,12.354-32.391,12.354-44.744,0 L225.923,173.529L54.018,345.44c-12.36,12.354-32.395,12.354-44.748,0c-12.359-12.354-12.359-32.391,0-44.75L203.554,106.4 c6.18-6.174,14.271-9.259,22.369-9.259C234.018,97.141,242.115,100.232,248.292,106.406z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
  }

  @media (max-width: 1465px) {
    .listBuyComponent .optionsContainer .optionItem .priceContainer .oldPrice {
        font-size: 14px;
      }
      
    .listBuyComponent .optionsContainer .optionItem .priceContainer .currentPrice {
        font-size: 16px;
    }
  }

  @media (max-width: 1390px) {
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperMinus,
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperPlus { 
      padding: 6px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom {
      padding: 0 4px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      width: 20px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .addToCartButton {
      font-size: 12px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      font-size: 14px;
    }

    .listBuyComponent .optionsContainer .optionItem .priceContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media (max-width: 1250px) {
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .addToCartButton {
      font-size: 11px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      font-size: 11px;
    }

    :global(.vtex-product-summary-2-x-element) {
      padding: 0;
    }
  }

  @media (max-width: 1025px) {
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperMinus,
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperPlus { 
      padding: 8px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      width: 30px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .addToCartButton {
      font-size: 12px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      font-size: 14px;
    }
  }

  @media (max-width: 600px) {
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom {
      padding: 0 4px;
    }
  }

  @media (max-width: 350px) {
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperMinus,
    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .stepperPlus { 
      padding: 6px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom {
      padding: 0 4px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .addToCartButton {
      font-size: 10px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      font-size: 12px;
    }

    .listBuyComponent .optionsContainer .optionItem .buyButtonCustom .quantityInput {
      width: 20px;
    }
  }
