.quemSomos {    
    position: relative;
    padding-top:10px;
    /* height: 400px; 
    width: 170%; */
    width:800px !important;
    
	height:600px;	
	margin:0 auto;
}

.quemSomos video { 
    height: 100%;
    width:100%;	
	object-fit:cover;
    display:flex;
    justify-content: center;
    margin:auto;
} 


@media screen and (max-width:767px) {
    .quemSomos {
        /* transform: translateX(-50%);
        position:relative;
        left:50%; */
        width:auto;
        height:300px;        
        margin:0 auto;
    }
    .quemSomos video { 
        
        width:95%;	
        object-fit:cover;
    } 
}

