<div class="mt4 mb3 w4 center">
  <a href="http://{{_accountInfo.HostName}}.com.br">
    <img alt="" border="0" width="auto" alt="{{_accountInfo.TradingName}}" src="https://goldko.vtexassets.com/arquivos/big-logo.png" style="max-height: 100px">
  </a>
</div>
