@import url("https://s3-sa-east-1.amazonaws.com/we.digi.tech/fonts/basic/flaticon.css");

.modalOpen {
    top: 50%;
    left: 50%;
    height: auto;
    border: 0;
    z-index: 1000;
    display: flex;
    overflow: hidden;
    position: fixed;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.closeModal {
    position: absolute !important;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}
.closeModal i {
    font-size: 22px;
    color: #1675bf;
}
.modalOpen img {
    height: auto;
    width: 100%;
    max-height: 70vh;
}

.modalOpen p {
    color: #1675bf;
    max-width: 920px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 0;
}

.modalOpen h3 {
    color: #1675bf;
    display: block;
    padding: 30px 0 15px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 90%;
    margin: 0 auto;
}

.modalContent {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

.modalHeader {
    color: #000;
    z-index: 1;
    position: relative;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-family: 'PlayfairDisplay';
    letter-spacing: 2px;
    font-size: 2rem;
}
.modalContent > div {
}

.modalClose {
    display: none;
}

.modalOpen .select {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #dedede;
    padding: 15px 0;
    background-size: 12px;
    background-color: #dedede;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 213.333 213.333' style='enable-background:new 0 0 213.333 213.333;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpolygon points='0,53.333 106.667,160 213.333,53.333 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.modalOpen .select select {
    width: 100%;
    border: 0;
    appearance: none;
    padding-left: 15px;
    background-color: transparent;
}

.modalOpen .select select::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff;
}

.modalOpen .select select::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    background: #fff;
}

.modalOpen .select select::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 0;
}

.modalOpen form {
    display: flex;
    background-color: rgba(255, 255, 255, .7);
    padding: 25px;
}

.modalOpen form input {
    width: 100%;
    border: 0;
    padding: 12px 0 12px 15px;
    font-size: 14px;
    border-bottom: 1px solid #dedede;
    background-color: transparent;
    border-radius: 0;
    color: #1675bf;
    font-family: Charlevoix Pro,sans-serif;
}
.modalOpen form button {
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #1675bf;
    color: #fff;
    border-radius: 7px;
    margin-left: 15px;
}
.modalOpen form button::after {
    display: block;
    content: "\f179";
    font-size: 18px;
    margin-left: 10px;
    font-family: Flaticon;
    font-weight: bold;
    margin-top: 6px;
    color: #fff;
}

.modalOverlayOpen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 999;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
}

.modalOverlayClose {
    display: none;
}

.states {
    border: 1px solid #dedede;
    padding: 2px 0;
    font-size: 14px;
    background-color: #fff;
}

.states::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #fff;
}

.states::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    background: #fff;
}

.states::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 0;
}

.headerMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.styledLinkLevel1 {
    padding: 15px 0;
    position: relative;
    margin-right: 15px;
}

.styledLinkContentLevel1 {
    color: #000;
    font-size: .825rem;
    text-transform: uppercase;
    text-decoration: none;
}

.styledLinkLevel1:last-child {
    margin-right: 0;
}

.styledLinkContentLevel1+ul {
    top: 49px;
    left: -20px;
    width: 180px;
    display: none;
    padding: 15px 20px;
    z-index: 1;
    position: absolute;
    list-style: none;
    background-color: #fff;
}

.styledLinkLevel1:hover .styledLinkContentLevel1+ul {
    display: block;
}

.styledLinkContentLevel1+ul li {
    margin-bottom: 10px;
}

.styledLinkContentLevel1+ul li:last-child {
    margin-bottom: 0;
}

.styledLinkContentLevel1+ul li a {
    color: #000;
    font-size: .9rem;
    text-decoration: none;
}

.modalOpen .loading::before {
    width: 35px;
    height: 35px;
    margin: 50px auto 0;
    content: "";
    display: block;
    z-index: 1;
    position: relative;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: rgba(255, 255, 255, 0); display: block; shape-rendering: auto;' width='200px' height='200px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='%23ffffff' stroke-width='10' r='35' stroke-dasharray='164.93361431346415 56.97787143782138'%3E%3CanimateTransform attributeName='transform' type='rotate' repeatCount='indefinite' dur='1s' values='0 50 50;360 50 50' keyTimes='0;1'/%3E%3C/circle%3E%3C!-- %5Bldio%5D generated by https://loading.io/ --%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}
.rulerMessage {
    padding: 10px;
    background-color: #f46110;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.rulerMessage h2 {
    margin: 0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.rulerMessage .closeRulerMessage {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #fff;
    color: #f46110;
    width: 15px;
    height: 15px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0;
    border-radius: 100%;
    cursor: pointer;
}

@media (max-width: 767px) {
    .rulerMessage {
        justify-content: flex-start;
    }
    .rulerMessage h2 {
        font-size: 12px;
    }
    .modalOpen {
        width: calc(100% - 30px) !important;
        margin: 0 auto;
    }
    .modalOpen img {
        height: auto;
    }
    .modalContent {
        width: 100%;
    }
    .modalOpen h3 {
        font-size: 1rem;
        padding: 30px 0 15px;
    }
    .modalOpen .select {
        width: 100%;
        padding: 10px 0;
    }
    .modalOpen p {
        font-size: .825rem;
        margin-top: 15px;
        text-align: center;
    }
    .modalHeader {
        font-size: 1.3rem;
    }
    .headerMenuLevel1 {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
    }
    .styledLinkMenuLevel1 {
        padding: 0;
        position: relative;
        list-style: none;
        width: 100% !important;
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        border-bottom: 1px solid #dedede;
    }
    .styledLinkMenuLevel1:last-child {
        border-bottom: 0;
    }
    .styledLinkMenu a {
        color: #2e2e2e;
        font-size: .8rem;
        text-decoration: none;
    }
    .styledLinkMenuLevel1>a {
        color: #28196a;
        display: block;
        padding: 10px 0;
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .styledLinkMenuLevel2>a {
        color: #000;
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
    }
    .styledLinkMenuLevel3>a {
        color: #2e2e2e;
        display: block;
        padding: 10px 0;
    }
    .styledLinkMenuLevel1>.openSubmenu {
        display: none;
    }
    .styledLinkMenuLevel1.haveChildrens>.openSubmenu {
        top: 8px;
        color: #28196a;
        right: 15px;
        border: 0;
        height: auto;
        display: block;
        padding: 0 0 0 15px;
        z-index: 1;
        position: absolute;
        font-size: 1.2rem;
        appearance: none;
        background-color: #fff;
    }
    .styledLinkMenuLevel1.haveChildrens>.openSubmenu.clicked {
        top: 3px;
        font-size: 1.6rem;
    }
    .headerMenuLevel2 {
        margin: 0;
        padding: 0;
        overflow: hidden;
        max-height: 0;
        list-style: none;
        transition: max-height 500ms linear;
    }
    .headerMenuLevel2.open {
        padding: 0 0 5px;
        max-height: 100%;
    }
    .headerMenuLevel3 {
        margin: 0;
        padding: 0 0 0 15px;
        list-style: none;
    }
    .closeModal {
        top: 15px;
        right: 15px;
    }
    .modalOpen form  {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
    .modalOpen form button {
        margin-left: 0;
        margin-top: 15px;
        padding: 5px 20px;    
    }
    .modalOpen form button::after {
        font-size: 16px;
    }   
    .modalOpen form input::placeholder {
        font-size: 12px;
    }
    .modalOpen form input {
        font-size: 12px;
    }
}