.videoContainer {
    position: sticky;
    top: 120px;

    @media(max-width: 1024px) {
        height: 250px !important;
    }
}

.videoElement {
    @media(max-width: 1024px) {
        height: 250px;
    }
}

.videoContainer--wdt-descriptionVideo{
    border: none;

    @media(max-width: 1024px){
        height: initial !important;
    }

    .videoElement--wdt-descriptionVideo{
        border-radius: 50px;

        @media(max-width: 1024px){
            height: 400px;
        }
        @media(max-width: 767px){
            height: 200px;
        }
    }
}

