
.flag {
    top: 10px;
    right: 10px;
    color: white;
    width: max-content !important;
    z-index: 2;
    padding: 7px 12px;
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #1675bf;
    border-radius: 30px;
    font-family: "Charlevoix Pro", sans-serif;
    font-weight: 800;
}


.flagsImage {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.flagImage {
    max-width: 100px;
    margin: 5px;
}

@media (max-width: 767px) {
    .flag {
        font-size: 12px;
    }

    .flagsImage { 
        position: absolute;
        top: -5px;
        right: 5px;
        width: 220px;
        display: flex;
        justify-content: flex-end;
    }

    .flagImage {
        width: 100px;
        margin-left: 5px;
    }
}